<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SWT2_CPB_SCRATCHDISK</title>
<style> /* set the CSS */
/* HTML Styling */

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #1181B8;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}
/*-------------------------------------------*/
body { font: 15px Arial;}

ul span
{font-size:16px; font-style: normal; padding: 10px;color: black}

.label {
    background-color: lightblue;
    color: black;
    padding: 10px;
}
path {
    stroke: steelblue;
    stroke-width:2px;
    fill: none;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width:1px;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
  clip-path: url(#clip);
}

</style>

</head>
<body>
<h2 class="label">SWT2_CPB_SCRATCHDISK Storage Monitoring Dashboard</h2>
<div class="container">

<ul>
<span><a href="{{url_for('index')}}">Index</a></span>
</ul>

<script src="https://d3js.org/d3.v4.min.js"></script>
	<table border="2" width="100%">
        <tr>
            <td colspan="3" height="500" bordercolor="green" align="center"  title="Storage Charts">
                <h3></h3>
				<div id="linechart1">
					<svg id="svg1" height="400" width="1300"></svg>
				</div>
			</td>
        <tr>
		<tr>
			<td bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('Rucio_Scratchdisk')}}">Rucio</a></h4>
				<div id="linechart2">
					<svg id="svg2" height="400"></svg>
				</div>
			</td>
			<td  bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('Json_Scratchdisk')}}">JSON</a></h4>
				<div id="linechart3">
					<svg id="svg3" height="400"></svg>
				</div>
			</td>
            <td  bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('GSIFTP_Scratchdisk')}}">GSIFTP</a></h4>
				<div id="linechart4">
					<svg id="svg4" height="400"></svg>
				</div>
			</td>
        <tr>
            <td colspan="1" bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('Expired_Scratchdisk')}}">Expired</a></h4>
				<div id="linechart5">
					<svg id="svg5"></svg>
				</div>
			</td>
            <td colspan="1" bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('Obsolete_Scratchdisk')}}">Obsolete</a></h4>
				<div id="linechart6">
					<svg id="svg6"></svg>
				</div>
			</td>
            <td colspan="1" bordercolor="green" align="center"  title="Storage Charts">
                <h4><a href="{{url_for('Unaivalable_Scratchdisk')}}">Unaivalable</a></h4>
				<div id="linechart7">
					<svg id="svg7"></svg>
				</div>
			</td>
        </tr>
	</table>
	<script>

var bytesToString = function (bytes) {
    var fmt = d3.format('.0f');
    if (bytes < 1024) {
        return fmt(bytes) + 'B';
    } else if (bytes < 1024 * 1024) {
        return fmt(bytes / 1024) + 'kB';
    } else if (bytes < 1024 * 1024 * 1024) {
        return fmt(bytes / 1024 / 1024) + 'MB';
    } else if (bytes < 1024 * 1024 * 1024 * 1024){
        return fmt(bytes / 1024 / 1024 / 1024) + 'GB';
    } else {
        return fmt(bytes / 1024 / 1024 / 1024/1024) + 'TB';
    }
}
   var json_SWT2_CPB_SCRATCHDISK=JSON.parse({{ json_SWT2_CPB_SCRATCHDISK }})

//*********************************************summation chart****************************************************************
// Set the dimensions of the canvas / graph
	var margin = {top: 40, right: 30, bottom: 70, left: 80},
	    width = 1100 - margin.left - margin.right,
	    height = 400 - margin.top - margin.bottom;

	// Parse the date / time
	{#var parseDate = d3.timeParse("%d-%b-%Y %H:%M:%S")#}
	var parseDate= d3.timeParse("%Y-%m-%d %H:%M:%S");
    //var parseDate = d3.timeParse("%Y-%m-%dT%H:%M:%S");


	// Set the ranges
	//var x = d3.scaleTime().range([0, width]);
    var x = d3.scaleTime().range([0, width]);
	var y = d3.scaleLinear().domain([0, json_SWT2_CPB_SCRATCHDISK]).range([height, 0]);
	var yAxis = d3.axisLeft().scale(y).tickFormat(bytesToString).ticks(10);
	var xAxis=d3.axisBottom(x);

	// Define the line
	var allLines = d3.line()
        .curve(d3.curveMonotoneX)
	    .x(function(d) { return x(parseDate(d.x)); })
	    .y(function(d) { return y(d.y); });

	// Adds the svg canvas
	var chart = d3.select("#svg1")
	    .append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	    .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

   chart.append("defs").append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", width)
    .attr("height", height);

    var data=JSON.parse({{ list | tojson | safe }})

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return parseDate(d.x); }));
    y.domain([0, d3.max(data, function(d) { return d.y; })]);

    // Nest the entries by symbol
    var dataNest = d3.nest()
        .key(function(d) {
        	return d.source;
        })
        .entries(data);

	//alert('No. of source:' + dataNest.length);
    // set the colour scale
    var color = d3.scaleOrdinal(d3.schemeCategory10);
    legendSpace = width/dataNest.length; // spacing for the legend

    // Loop through each symbol / key
    dataNest.forEach(function(d,i) {
        //alert('Each source:'+d)
        chart.append("path")
            .attr("class", "line")
            .style("stroke", function() {  return d.color = color(d.key); })
            .attr("id", 'tag'+d.key.replace(/\s+/g, '')) // assign an ID
            .attr("d", allLines(d.values));

        // Add the Legend
        chart.append("text")
            .attr("x", (legendSpace/2)+i*legendSpace)  // space legend
            .attr("y", height + (margin.bottom/2)+ 5)
            .attr("class", "legend")    // style the legend
            .style("fill", function() {return d.color = color(d.key); })
            .on("click", function(){
                // Determine if current line is visible
                var active   = d.active ? false : true,
                newOpacity = active ? 0 : 1;
                // Hide or show the elements based on the ID
                d3.select("#tag"+d.key.replace(/\s+/g, ''))
                    .transition().duration(100)
                    .style("opacity", newOpacity);
                // Update whether or not the elements are active
                d.active = active;
                })
            .text(d.key)

    });

  var g = chart.append('g')
          .attr("class", "axis").attr("transform", "translate(0," + height + ")");

  // Add the X Axis
  g.call(d3.axisBottom(x)).selectAll("text").style("text-anchor", "middle");
  // Add the Y Axis
  chart.append("g").attr("class", "axis").call(yAxis);
  chart.append("text").attr("transform", "rotate(-90)")
   .attr("x",0 - height)
   .attr("y",0 - margin.left)
      .attr("dy", "3.5em")
  .style("text-anchor", "end")
  .text("Storage");

//***********************************************************************************************************
var margin = {top: 30, right: 20, bottom: 50, left: 50},
    width = (window.innerWidth/3 - 25) - margin.left - margin.right,
    height = (window.innerHeight/3) - margin.top - margin.bottom;
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().domain([0, json_SWT2_CPB_SCRATCHDISK]).range([height, 0]);
var xAxis = d3.axisBottom().scale(x).ticks(5);
var yAxis = d3.axisLeft().scale(y).tickFormat(bytesToString).ticks(5);


// [********************************************Strats chart 1 ***************************************************************
//var parseDate = d3.timeParse("%d-%b-%Y %H:%M:%S");
//var parseDate = d3.timeParse("%a, %d %b %Y %H:%M:%S UTC");
var rucio=JSON.parse({{ rucio7 | tojson | safe}})

var chart1 = d3.select("#svg2")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var valueline = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});

// Scale the range of the data
x.domain(d3.extent(rucio,function (d) {
        return parseDate(d.x);
 }));
y.domain([0, d3.max(rucio, function(d) { return d.y; })]);

 //Adding data into Line-chart
chart1.append("path").attr("class", "line").attr("d", valueline(rucio));
 //Adding X Axis
chart1.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding X Axis Label
chart1.append("text").attr("transform", "rotate(0)")
.attr("x",	-100)
.attr("y",  height+45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart1.append("g").attr("class", "y axis").call(yAxis);
chart1.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart1.selectAll("dot")
	.data(rucio)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div.transition().duration(250).style("opacity", .9);
	        div	.html('Date:'+d3.timeFormat(d.x,"%d-%b-%y")+ "<br/> Storage:"  + bytesToString(d.y))
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	     {#div.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });



 //[[************************************************ Starts => Chart-2 ***********************************************************************]]

var expired=JSON.parse({{ expired7 | tojson | safe }})
var parseDate1 = d3.timeParse("%a, %d %b %Y %H:%M:%S UTC");

var chart2 = d3.select("#svg5")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var valueline2 = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});
// Scale the range of the data
x.domain(d3.extent(expired,function (d) {
        return parseDate(d.x);
 }));
y.domain([0, d3.max(expired, function(d) { return d.y; })]);

 //Adding data into Line-chart
chart2.append("path").attr("class", "line").attr("d", valueline2(expired));
 //Adding A Axis
chart2.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding A Axis Label
chart2.append("text").attr("transform", "rotate(0)")
.attr("x",-100)
.attr("y",  height +45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart2.append("g").attr("class", "y axis").call(yAxis);
chart2.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div2 = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart2.selectAll("dot")
	.data(expired)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div2.transition().duration(250).style("opacity", .9);
	        div2.html('Date:'+d.x+ "<br/> Storage:"  + bytesToString(d.y))
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	    {# div2.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });


//**************************************************starts => Chart-3***********************************************************************

var gsiftp=JSON.parse({{ gsiftp7 | tojson | safe }})

var chart3 = d3.select("#svg4")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var valueline3 = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});
// Scale the range of the data
x.domain(d3.extent(gsiftp,function (d) {
        return parseDate(d.x);
 }));

y.domain([ 0, d3.max(gsiftp,function (d) {
            return d.y;
    })
 ]);

 //Adding data into Line-chart
chart3.append("path").attr("class", "line").attr("d", valueline3(gsiftp));
 //Adding A Axis
chart3.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding A Axis Label
chart3.append("text").attr("transform", "rotate(0)")
.attr("x",	-100)
.attr("y",  height+45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart3.append("g").attr("class", "y axis").call(yAxis);
chart3.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div3 = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart3.selectAll("dot")
	.data(gsiftp)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div3.transition().duration(250).style("opacity", .9);
	        div3.html('Date:'+d.x+ "<br/> Storage:"  + bytesToString(d.y))
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	    {# div3.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });


//**************************************************starts => Chart-5***********************************************************************

var obsolete=JSON.parse({{ obsolete7 | tojson | safe }})
//var parseDate1 = d3.timeParse("%a, %d %b %Y %H:%M:%S UTC");

var chart5 = d3.select("#svg6")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var valueline5 = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});
// Scale the range of the data
x.domain(d3.extent(obsolete,function (d) {
        return parseDate(d.x);
 }));
y.domain([0, d3.max(obsolete, function(d) { return d.y; })]);

 //Adding data into Line-chart
chart5.append("path").attr("class", "line").attr("d", valueline5(obsolete));
 //Adding A Axis
chart5.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding A Axis Label
chart5.append("text").attr("transform", "rotate(0)")
.attr("x",	-100)
.attr("y",  height+45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart5.append("g").attr("class", "y axis").call(yAxis);
chart5.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div5 = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart5.selectAll("dot")
	.data(obsolete)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div5.transition().duration(250).style("opacity", .9);
	        div5.html('Date:'+d.x+ "<br/> Storage:"  + bytesToString(d.y))
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	     {#div5.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });



//**************************************************starts => Chart-6***********************************************************************

var jsonx=JSON.parse({{ json7 | tojson | safe }})
//var parseDate1 = d3.timeParse("%a, %d %b %Y %H:%M:%S UTC");

var chart6 = d3.select("#svg3")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var valueline6 = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});
// Scale the range of the data
x.domain(d3.extent(jsonx,function (d) {
        return parseDate(d.x);
 }));
y.domain([0, d3.max(jsonx, function(d) { return d.y; })]);

 //Adding data into Line-chart
chart6.append("path").attr("class", "line").attr("d", valueline6(jsonx));
 //Adding A Axis
chart6.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding A Axis Label
chart6.append("text").attr("transform", "rotate(0)")
.attr("x",	-100)
.attr("y",  height+45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart6.append("g").attr("class", "y axis").call(yAxis);
chart6.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div6 = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart6.selectAll("dot")
	.data(jsonx)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div6.transition().duration(250).style("opacity", .9);
	        div6.html('Date:'+d.x+ "<br/> Storage:"  + bytesToString(d.y))
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	    {# div6.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });


//**************************************************starts => Chart-9***********************************************************************

var unavailable=JSON.parse({{ unavailable7 | tojson | safe }})
//var parseDate1 = d3.timeParse("%a, %d %b %Y %H:%M:%S UTC");

var chart9 = d3.select("#svg7")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var valueline9 = d3.line()
.x(function (d) {
	return x(parseDate(d.x));
})
.y(function (d) { return y(d.y);
});
// Scale the range of the data
x.domain(d3.extent(unavailable,function (d) {
        return parseDate(d.x);
 }));
y.domain([0, d3.max(unavailable, function(d) { return d.y; })]);

 //Adding data into Line-chart
chart9.append("path").attr("class", "line").attr("d", valueline9(unavailable));
 //Adding A Axis
chart9.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickFormat(d3.timeFormat("%d-%b-%y")))
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("transform", "rotate(-90)");
//Adding A Axis Label
chart9.append("text").attr("transform", "rotate(0)")
.attr("x",	-100)
.attr("y",  height+45)
.style("text-anchor", "middle")
.attr("dx", "7em")
.text("Time");
// Adding Y-asix
chart9.append("g").attr("class", "y axis").call(yAxis);
chart9.append("text").attr("transform", "rotate(-90)")
.attr("x",	-180)
.attr("y",  -75)
    .attr("dy", "3.5em")
.style("text-anchor", "middle")
.text("Storage");

//Adding tooltip
 var div9 = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
 // Add the scatterplot
 chart9.selectAll("dot")
	.data(unavailable)
	.enter()
	.append("circle")
	.attr("r", 5)
	.attr("cx", function(d) { return x(parseDate(d.x)); })
	.attr("cy", function(d) { return y(d.y); })
	.on("mouseover", function(d) {
	        div9.transition().duration(250).style("opacity", .9);
	        div9.html('Date:'+d.x+ "<br/> Storage:"  + d.y)
	        .style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY - 28) + "px");
	 })
	 .on("mouseout", function(d) {
	    {# div9.transition()
               .duration(10000)
               .style("opacity", 0);#}
	  });


</script>
</div>
</body>
</html>